<div id="live">
  <h2 class="featurette-heading">Live!<br /><span class="muted">Find out what is
  happening... right now!</span></h2>
  <p class="lead">
  All the talks will be recorded and broadcasted live through Internet. But oSC'13 is much more than the talks, take a look at how the geekos are doing all around the place.
	</p>

  <div class="row featurette">
    <div class="span6">
      <img id="stream1" src="images/stream/stream1.jpg">
    </div>
    <div class="span6">
      <img id="stream2" src="images/stream/stream2.jpg">
    </div>
  </div>
  <p class="pull-right"><a href="#"><i class="icon-arrow-up"></i>Back to top</a></p>
</div>
