<div class="featurette" id="location">

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#venue" data-toggle="tab">Venue</a></li>
      <li><a href="#travel" data-toggle="tab">Getting there</a></li>
      <li><a href="#hotel" data-toggle="tab">Accomodation</a></li>
      <li><a href="#map" data-toggle="tab">Map</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="venue">
      <div class="pull-right">
      <img class="featurette-image" src="images/featurette/location.jpg">
      <p class="featurette-image-license"><small><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.en">Some Rights Reserved</a> -
      <a href="http://commons.wikimedia.org/wiki/File:Thessaloniki_Olympic_Museum,_main_facade,_night.jpg">By Thessaloniki Olympic Museum</a></small></p>
      </div>
        <h2 class="featurette-heading">At the Olympic Museum<br /><span class="muted">Thessaloniki, Greece!</span></h2>
        <p class="lead">
        Renowned for its festivals, events and vibrant cultural life in general, Thessaloniki is considered to be Greece's cultural capital.
        Greece or Hellas, is the southern European country located at the crossroads of Europe, Asia and Africa. 
        The greek openSUSE community, affectionately known as Greekos, is one of the most active openSUSE communities around the world. 
        </p>
        <p class="pull-right"><a href="#venue"><i class="icon-arrow-up"></i>Back to top</a></p>
      </div>
      <div class="tab-pane" id="map">
      <div class="video-container">
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msid=207920159064068657740.0004d3e283eb61c30586e&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=40.632714,22.952499&amp;spn=0.125063,0.219727&amp;z=12&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msid=207920159064068657740.0004d3e283eb61c30586e&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=40.632714,22.952499&amp;spn=0.125063,0.219727&amp;z=12&amp;source=embed" style="color:#0000FF;text-align:left;">oSC13</a> in a larger map</small>
      </div>
      </div>
      <div class="tab-pane" id="travel">
      <div class="pull-right">
      <img class="featurette-image" src="images/featurette/travel.jpg">
      <p class="featurette-image-license"><small><a href="http://creativecommons.org/licenses/by-nc-sa/2.0/deed.en">Some Rights Reserved</a> -
      <a href="http://www.flickr.com/photos/eltoro80/">By eltoro80</a></small></p>
      </div>
        <h2 class="featurette-heading">Thessaloniki<br /><span class="muted">A major transportation hub</span></h2>
        <p class="lead">
        Thessaloniki is the second largest city in Greece, a tourist destination and a major transportation hub for southern Europe.
        Thessaloniki is served by <a href="http://www.thessalonikiairport.com/">Macedonia International Airport (IATA: SKG)</a>
        for international and domestic flights. The airport lies 15 km southeast of the city and connections to the city are served
        on a 24-hour basis by the <a href="http://www.oasth.gr/index_eng.php">Thessaloniki Urban Transport Organization</a>.
        Detailed information about all the aspects of travel to and in Thessaloniki can be found on
        <a href="http://en.wikivoyage.org/wiki/Thessaloniki">wikivoyage.org</a>
        </p>
        <p class="pull-right"><a href="#travel"><i class="icon-arrow-up"></i>Back to top</a></p>
      </div>
      <div class="tab-pane" id="hotel">

        <h2 class="featurette-heading">Thessaloniki<br /><span class="muted">Places to stay</span></h2>
        <p class="lead">Below are our proposal for hotels in the city and the best part is we have bargained a special
        price with all of them for oSC13 attendees! To get that price (which includes breakfast, taxes and free wifi)
        use the code <strong>"openSUSE"</strong> when registering. All Hotels have access to public transport that takes
        you to the venue.
        </p>

        <ul class="thumbnails">
          <li class="span4">
            <div class="thumbnail">
             <img src="/images/hotels/queen_olga.jpg">
             <h4><a href="http://www.queenolga.gr">Queen Olga</a> &#9733;&#9733;&#9733;</h4>
             <p>The hotel is near to the city center.</p>
             <ul>
                <li>Single: 40 €/night</li>
                <li>Double: 50 €/night</li>
                <li>Email: <a href="mailto:reservations@queenolga.gr">reservations@queenolga.gr</a></li>
              </ul>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <img src="/images/hotels/metropolitan.jpg">
              <h4><a href="http://www.metropolitan.gr">Metropolitan Hotel</a> &#9733;&#9733;&#9733;</h4>
              <p>The hotel is near to the city center.</p>
                <ul>
                  <li>Single: 63 €/night</li>
                  <li>Double: 76 €/night</li>
                  <li>Email: <a href="mailto:roikonomou@metropolitan.gr">roikonomou@metropolitan.gr</a></li>
                </ul>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <img src="/images/hotels/kinsissi.jpg">
              <h4><a href="http://www.kinissipalace.gr">Kinissi Palace</a> &#9733;&#9733;&#9733;&#9733;</h4>
              <p>The hotel is in the city center.</p>
                <ul>
                  <li>Single: 40 €/night</li>
                  <li>Double: 50 €/night</li>
                  <li>Email: <a href="mailto:info@kinissipalace.gr">info@kinissipalace.gr</a></li>
                </ul>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <img src="/images/hotels/nea-metropolis.jpg">
              <h4><a href="http://www.neametropolis.gr">Nea Metropolis</a> &#9733;&#9733;&#9733;</h4>
              <p>The hotel is in the city center.</p>
              <ul>
                <li>Single: 31.50 €/night</li>
                <li>Double: 35 €/night</li>
                <li>Email: <a href="mailto:info@neametropolis.gr">info@neametropolis.gr</a></li>
              </ul>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <img src="/images/hotels/egnatia-palace.jpg">
              <h4><a href="http://www.egnatiapalace.gr">Egnatia Palace</a> &#9733;&#9733;&#9733;&#9733;</h4>
              <p>The hotel is in the city center.</p>
              <ul>
                <li>Single: 70 €/night</li>
                <li>Double: 80 €/night</li>
                <li>Email: <a href="mailto:reservation@egnatiapalace.gr">reservation@egnatiapalace.gr</a></li>
              </ul>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <img src="/images/hotels/egnatia.jpg">
              <h4><a href="http://www.egnatia-hotel.gr">Egnatia Hotel</a> &#9733;&#9733;&#9733;</h4>
              <p>The hotel is in the city center.</p>
              <ul>
                <li>Single: 44 €/night</li>
                <li>Double: 50 €/night</li>
                <li>Email: <a href="mailto:reservation@egnatiapalace.gr">reservation@egnatia-hotel.gr</a></li>
              </ul>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <img src="/images/hotels/aegeon.jpg">
              <h4><a href="http://www.aegeon-hotel.gr">Aegeon Hotel</a> &#9733;&#9733;&#9733;</h4>
              <p>The hotel is in the city center.</p>
              <ul>
                <li>Single: 38 €/night</li>
                <li>Double: 45 €/night</li>
                <li>Email: <a href="mailto:reservation@egnatiapalace.gr">info@aegeon-hotel.gr</a></li>
              </ul>
            </div>
          </li>
        </ul>
        <p class="pull-right"><a href="#hotel"><i class="icon-arrow-up"></i>Back to top</a></p>
    </div>
  </div>
</div>
