<div class="featurette" id="program">

</div>


<div class="featurette" id="program">

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#speaker" data-toggle="tab">Speakers</a></li>
      <li><a href="#schedule" data-toggle="tab">Schedule</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="speaker">
        <h2 class="featurette-heading">Fabulous Speakers<br /><span class="muted">Blow your mind!</span></h2>
         <p class="lead">
        </p>

        <ul class="thumbnails">
          <li class="span4">
            <div class="thumbnail">
             <img src="/images/speakers/theo.jpg">
             <h4><a href="http://blogs.gentoo.org/tampakrap">Theo Chatzimichos</a></h4>
             <p>
              Theo, a SUSE QA engineer, openSUSE &amp; Gentoo Developer/Sysadmin will speak about using code for configuration management
              with <a href="https://puppetlabs.com/">puppet</a>. And if that wouldn't be enough, he also will hold your hand while you take your 
              first steps with puppet and learn it's declarative language, usage and advantages in a workshop.
             </p>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
             <img src="/images/speakers/henne.jpg">
             <h4><a href="http://www.hennevogel.de">Henne Vogelsang</a></h4>
             <p>
                Henne, founding member and developer of the openSUSE Project, will not only teach you in two hour workshops on how to utilize
                the most awesome <em>Open Build Service</em> to simplify your software packaging and maintenance needs. He'll also lead you down the rabbit
                hole into the wonderful world of <a href="http://rubyonrails.org/">Ruby on Rails</a> web development.
             </p>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
             <img src="/images/speakers/you.jpg">
             <h4><a href="https://conference.opensuse.org/osem/conference/osc2013/proposal/new">YOU?</a></h4>
             <p>
                Do you have something to say? About our community, our technology or Free and Open Source software in general? Our paper committee
                is ready to receive your proposals! For details on what we are looking for, see our <a href="http://news.opensuse.org/?p=15001">Call for Papers</a>.
                We are very much looking forward for you to join the ranks of speakers at oSC13. Share what you know and love, that's what it's all about.
             </p>
            </div>
          </li>
        </ul>
        <p class="pull-right"><a href="#"><i class="icon-arrow-up"></i>Back to top</a></p>
      </div>
      <div class="tab-pane" id="schedule">
        <h2 class="featurette-heading">Schedule<br /><span class="muted">Comming Soon</span></h2>
        <p class="lead">
          Stay Tuned.
        </p>
        <p class="pull-right"><a href="#"><i class="icon-arrow-up"></i>Back to top</a></p>
      </div>
    </div>
  </div>
</div>
