<div class="featurette" id="program">

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#speaker" data-toggle="tab">Speakers</a></li>
      <li><a href="#schedule" data-toggle="tab">Schedule</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="speaker">
        <h2 class="featurette-heading">5 Days of Awesome Program<br /><span class="muted">Speakers that blow your mind!</span></h2>
         <p class="lead">
          oSC13 has the most awesome program ever. You'll see rock-star speakers cover the topics of our community and technology. Strap in for a hefty ride through the oSC program roller coaster!
        </p>
<div class="row-fluid visible-phone">
  <div class="span12">
    <img src="/images/speakers/all.jpg" class="img-rounded">
  </div>
</div>
<div class="row-fluid hidden-phone">
    <div class="carousel slide" id="SpeakerCarousel">
        <div class="carousel-inner">
          <div class="item active">
                <ul class="thumbnails">
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="/images/speakers/georg.jpg" alt="">
                        </div>
                        <h4><a href="http://fsfe.org/about/greve/">KEYNOTE: Georg Greve</a></h4>
                          <p>
                          Georg Greve, founding president of the <a href="http://fsfe.org">Free Software Foundation Europe</a> and CEO at <a href="http://kolabsys.com">Kolab Systems AG</a>, will <strong>keynote</strong> about <em>Freedom in the world we live in and the value and importance of communities and Software Freedom</em>. He'll show you Free in practice later during the event, giving a hands-on workshop around the Kolab Groupware Solution.
                          </p>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="/images/speakers/jos.jpg" alt="">
                        </div>
                        <h4><a href="http:/blog.jospoortvliet.com">KEYNOTE: Jos Poortvliet</a></h4>
                        <p>
                        Community manager and long-term Free Software advocate, Jos has some thoughts he'd like to share in his <strong>keynote</strong> on c<em>ollaboration in Free Software communities and why working together is better than going it all alone</em>. He will also discuss release marketing, present the new merchandising and be part of the discussions around the changing openSUSE ambassador program.
                        </p>
                    </li>
                     <li class="span4">
                        <div class="thumbnail">
                            <img src="/images/speakers/ralf.jpg" alt="">
                        </div>
                        <h4><a href="https://www.suse.com/company/executive-management/">KEYNOTE: Ralf Flaxa</a></h4>
                        <p>
                        Head of engineering at SUSE and never absent at openSUSE Conferences, Ralf Flaxa will discuss where SUSE is going and how openSUSE fits in that picture.
                        </p>
                    </li>
                </ul>
          </div>
          <div class="item">
                <ul class="thumbnails">
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="/images/speakers/hans.jpg" alt="">
                        </div>
                        <h4><a href="http://hcderaad.nl/node/111">Hans de Raad</a></h4>
                          <p>
                          Hans de Raad is independent consultant, open source enthusiast and sponsor of the openSUSE Conference. He presents a series of sessions, including the implementation of Drupal Commerce, Piwik and some insight in the do and donts of freelancing in the IT world.
                          </p>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="/images/speakers/vuntz.jpg" alt="">
                        </div>
                         <h4><a href="http://www.vuntz.net/">Vincent Untz</a></h4>
                          <p>
                          Vincent, involved in high-profile projects such as GNOME and OpenStack, and current board chair will lead the big <em>openSUSE Town Hall Meeting</em> and <em>Team Reports</em> sessions. If you want to discuss any project-wide topic, get to know what's happening, or need answers from the leaders of the openSUSE project -&gt; This is your once-in-a-year opportunity, don't miss it!
                          </p>
                    </li>
                     <li class="span4">
                        <div class="thumbnail">
                            <img src="/images/speakers/lars.jpg" alt="">
                        </div>
                        <h4><a href="http://www.linux-schulserver.de/">Lars Vogdt</a></h4>
                        <p>
                        Lars is responsible for the SUSE infrastructure in Nue and Prague as well as a core gate keeper (package reviewer) for openSUSE Factory. He also keeps a significant part of the openSUSE infrastructure up and is a major enabler for the network at our conference! He's the guy to listen to when it comes to system management and he'll talk about monitoring (workshop) and openSUSE infra (talk).
                        </p>
                    </li>
                </ul>
          </div>
          <div class="item">
                <ul class="thumbnails">
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="/images/speakers/miguel.jpg" alt="">
                        </div>
                         <h4><a href="http://about.me/gnuowned">Miguel Ángel Barajas</a></h4>
                          <p>
                          Miguel, a senior cloud computing solution architect at <a href="http://hp.com">HP</a>, is most famous as the host of the spanish spoken podcast <a href="http://openenchilada.com/">openenchilada</a>. He's a Linux ninja with a black belt in openSUSE, virtualisation and cloud computing and his contribution to the program will be an introduction to the high availability (HA) technologies out there to create robust, mission critical services.
                          </p>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="/images/speakers/alberto.jpg" alt="">
                        </div>
                        <h4><a href="http://michal.hrusecky.net/">Alberto Planas</a></h4>
                        <p>
                        Alberto, an openSUSE freshmen and new SUSE employee will explore the number of openSUSE downloads and installations and the evolution of these numbers. Does this data show a trend? Are we using this data to make important decisions about our future as a GNU/Linux distribution? Find out at oSC13!
                        </p>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="/images/speakers/theo.jpg" alt="">
                        </div>
                        <h4><a href="http://blogs.gentoo.org/tampakrap">Theo Chatzimichos</a></h4>
                          <p>
                          Theo, a SUSE QA engineer, openSUSE &amp; Gentoo Developer/Sysadmin will speak about using code for configuration management with <a href="https://puppetlabs.com/">Puppet</a>. And if that wouldn't be enough, he also will hold your hand while you take your first steps with Puppet and learn it's declarative language, usage and advantages in a workshop.
                          </p>
                    </li>
                </ul>
          </div>
          <div class="item">
                <ul class="thumbnails">
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="/images/speakers/henne.jpg" alt="">
                        </div>
                        <h4><a href="http://www.hennevogel.de">Henne Vogelsang</a></h4>
                        <p>
                        Henne, founding member and developer of the openSUSE Project, will not only teach you in two hour workshops on how to utilize the most awesome <em>Open Build Service</em> to simplify your software packaging and maintenance needs. He'll also lead you down the rabbit hole into the wonderful world of <a href="http://rubyonrails.org/">Ruby on Rails</a> web development.
                        </p>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="/images/speakers/michal.jpg" alt="">
                        </div>
                        <h4><a href="http://michal.hrusecky.net/">Michal Hrušecký</a></h4>
                        <p>
                        Michal, SUSEs SQL ninja and openSUSE Release Team member will present you an overview about the complex process of releasing the openSUSE Distributuon. What needs to be done to get a new version out and how you can pitch in to make it happen? Additionally he'll prepare you and your keys/certificates for the grand key signing bash and shares his experience on how to travel light.
                        </p>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="/images/speakers/you.jpg" alt="">
                        </div>
                        <h4><a href="https://conference.opensuse.org/#Program">And many more</a></h4>
                        <p>
                        There will be many more speakers at the openSUSE conference. Stay tuned for our full program!
                      </p>
                    </li>
                </ul>
          </div>

          </div>
        <a data-slide="prev" href="#SpeakerCarousel" class="left carousel-control">‹</a>
        <a data-slide="next" href="#SpeakerCarousel" class="right carousel-control">›</a>
    </div>
</div>
        <p class="pull-right"><a href="#"><i class="icon-arrow-up"></i>Back to top</a></p>
      </div>
      <div class="tab-pane" id="schedule">
        <h2 class="featurette-heading">Schedule<br /><span class="muted">Comming Soon</span></h2>
        <p class="lead">
          Stay Tuned.
        </p>
        <p class="pull-right"><a href="#"><i class="icon-arrow-up"></i>Back to top</a></p>
      </div>
    </div>
  </div>
</div>
