<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://beans.opensuse.org/piwik/" : "http://beans.opensuse.org/piwik/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 18);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://beans.opensuse.org/piwik/piwik.php?idsite=18" style="border:0" alt="" /></p></noscript>

<!-- Jquery -->
<script src="/js/jquery-latest.js"></script>

<!-- Bootstrap -->
<script src="/bootstrap/js/bootstrap.min.js"></script>

<!-- Prettify -->
<script src="/js/prettify.js"></script>

<!-- Tabletop -->
<script src="/js/tabletop.js"></script>

<script>
  !function ($) {
    $(function(){
      window.prettyPrint && prettyPrint()   
    })
  }(window.jQuery)
</script>

<script>
// Here's the Tabletop feed
// First we'll initialize Tabletop with our spreadsheet
var jqueryNoConflict = jQuery;
jqueryNoConflict(document).ready(function(){
  initializeTabletopObject('0ArMbkBL7n3y4dFh4QU1FYVkwU1cwWEhFSmoxM0ozZFE');
});

// Pull data from Google spreadsheet
// And push to our startUpLeaflet function
function initializeTabletopObject(dataSpreadsheet){
  Tabletop.init({
      key: dataSpreadsheet,
      callback: startUpLeafet,
      simpleSheet: true,
      debug: false
    });
}
</script>

<!-- Leaflet (OSM slippy map) -->
<script src="/js/leaflet.js"></script>

<script>
    var map = L.map('oSC13map').setView([40.632714,22.952499], 14);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      maxZoom: 18,
      attribution: 'Map data & Imagery &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Markers &copy; <a href="http://www.webiconset.com/map-icons/">WebIconSet</a>.'
    }).addTo(map);

    var popup = L.popup();

      function onMapClick(e) {
        popup
          .setLatLng(e.latlng)
          .setContent(e.latlng.toString())
          .openOn(map);
      }

      map.on('click', onMapClick);


$('a#maptab[data-toggle="tab"]').on('shown', function (e) {
  console.log('Map resized');
  map.invalidateSize(false);
});

  </script>

<script>
// This function gets our data from our spreadsheet
// Then gets it ready for Leaflet.
// It creates the marker, sets location
// And plots on it on our map
function startUpLeafet(tabletopData) {
  //Set up the different markers
  var oSCIcon = L.Icon.extend({
    options: {
        iconSize:     [64, 64],
        iconAnchor:   [35, 68],
        popupAnchor:  [-3, -76]
    }
  });

var Hotel = new oSCIcon({iconUrl: '/images/markers/hotel.png'}),
    Venue = new oSCIcon({iconUrl: '/images/markers/venue.png'}),
    Sight = new oSCIcon({iconUrl: '/images/markers/sight.png'});
    Airport = new oSCIcon({iconUrl: '/images/markers/airport.png'});
    Bus = new oSCIcon({iconUrl: '/images/markers/bus.png'});
    Taxi = new oSCIcon({iconUrl: '/images/markers/taxi.png'});
    Train = new oSCIcon({iconUrl: '/images/markers/train.png'});
    Shopping = new oSCIcon({iconUrl: '/images/markers/shopping.png'});
    Bar = new oSCIcon({iconUrl: '/images/markers/bar.png'});
    Food = new oSCIcon({iconUrl: '/images/markers/food.png'});

  // Tabletop creates arrays out of our data
  // We'll loop through them and create markers for each
  for (var num = 0; num < tabletopData.length; num ++) {
    // Our table columns
    // Change 'brewery', 'address', etc.
    // To match table column names in your table
    var dataOne = tabletopData[num].name;
    var dataTwo = tabletopData[num].address;
    var dataThree= tabletopData[num].website;

    // Pull in our lat, long information
    var dataLat = tabletopData[num].latitude;
    var dataLong = tabletopData[num].longitude;

    var dataType = tabletopData[num].type;

    // Add to our marker
    marker_location = new L.LatLng(dataLat, dataLong);
    // Create the marker
      layer = new L.Marker(marker_location, {icon: eval(dataType)});
    
      // Create the popup
      // Change 'Address', 'City', etc.
    // To match table column names in your table
      var popup = "<div class=popup_box" + "id=" + num + ">";
      popup += "<div class='popup_box_header'><strong>" + dataOne + "</strong></div>";
      popup += "<hr />";
      popup += "<strong>Address:</strong> " + dataTwo + "<br />";
      popup += "<strong>Website:</strong> " + dataThree + "<br />";
      popup += "</div>";
      // Add to our marker
    layer.bindPopup(popup);
  
    // Add marker to our to map
    map.addLayer(layer);
  }
};
</script>

<!-- Tab links -->
<script>
$(function() {
    var hash = window.location.hash;
    hash && $('ul.nav a[href="' + hash + '"]').tab('show');
});
</script>

<!-- Carousels -->
<script>
$('#SpeakerCarousel').carousel({
    interval: 5000
})
</script>