<div id="sponsors">
  <h2 class="featurette-heading">Sponsors<br /><span class="muted">Making it possible</span></h2>
  <div class="row featurette">
    <div class="span4">
      <a href="http://www.suse.com">
      <img class="sponsor-image" src="/images/sponsors/suse.png">
      </a>
      <p class="lead">
         SUSE is the original provider of the enterprise Linux distribution and the most interoperable platform for
         mission-critical computing. It's the only Linux recommended by VMware, Microsoft and SAP. And it's supported
         on more hardware and software than any other enterprise Linux distribution
      </p>
    </div>
    <div class="span4">
      <p class="sponsor-txt">
      You?
      </p>
      <p class="lead">
         Expose your brand to a wide variety of participants, enable oSC13 to be free of charge for all participants
         and support contributors with financial constraints to attend the event. Interested?
         Read our <a href="/files/oSC13_Sponsorship_Brochure.pdf">sponsorship brochure</a> to find out about your options.
      </p>
    </div>
  </div>
  <p class="pull-right"><a href="#"><i class="icon-arrow-up"></i>Back to top</a></p>
</div>
