<div id="sponsors">
  <h2 class="featurette-heading">Sponsors<br /><span class="muted">Making it possible</span></h2>
  <div class="row featurette">
    <div class="span4">
      <a href="http://www.suse.com">
      <img class="sponsor-image" src="/images/sponsors/suse_badge.png">
      </a>
      <p class="lead">
         SUSE is the original provider of the enterprise Linux distribution and the most interoperable platform for
         mission-critical computing. It's the only Linux recommended by VMware, Microsoft and SAP. And it's supported
         on more hardware and software than any other enterprise Linux distribution
      </p>
    </div>
    <div class="span4">
      <a href="http://www.arm.com/">
      <img class="sponsor-image" src="/images/sponsors/ARM_badge.png">
      </a>
      <p class="lead">
         ARM designs the technology that is at the heart of advanced digital products, from wireless, networking and consumer entertainment
         solutions to imaging, automotive, security and storage devices. ARM has established a broad partner community, including software and
         services companies who can complement existing open source offerings and support partners in developing products.
      </p>
    </div>
    <div class="span4">
      <a href="http://hcderaad.nl/node/111">
      <img class="sponsor-image" src="/images/sponsors/DevHdR_badge.png">
      </a>
      <p class="lead">
         Hans de Raad (DevHdR) is an independent ICT specialist whose expertise mainly focusses on the many dynamic and diverse aspects of human-machine
         interaction processes.<br />
         He offers consultancy and support for several open-source projects like, Drupal, Piwik, Kolab, ownCloud and of course openSUSE! He also helps
         companies with archiving, social media and onlien communication, Integration between front / back office systems and Security matters.
      </p>
    </div>
    <div class="span4">
      <a href="http://www.it.auth.gr/">
      <img class="sponsor-image" src="/images/sponsors/it.auth_badge.png">
      </a>
      <p class="lead">
         The AUTH IT Center is responsible for the provision, maintenance, smooth operation, continuous improvement and adjustment
         of network and computer infrastructure and electronic services of the Aristotle University of Thessaloniki and supporting
         members of the university in using the IT services. 
          <br />
         <br />
         <br />
         <br />
         <br />
      </p>
    </div>
    <div class="span4">
      <a href="http://www.grnet.gr">
      <img class="sponsor-image" src="/images/sponsors/grnet_badge.png">
      </a>
      <p class="lead">
          Greek Research and Technology Network (GRNET) provides Internet connectivity, high-quality e-Infrastructure and advanced 
          networking services (eg cloud computing) to the Greek Educational, Academic and Research community. GRNET connects
          its customers with speeds up to 10Gbps through its high-speed, high-capacity network of long-term leased fibre that spans
          across the entire country. Part of its mission is also the dissemination of ICT to the general public.
      </p>
    </div>
    <div class="span4">
      <a href="http://www.cisco.gr">
      <img class="sponsor-image" src="/images/sponsors/cisco_badge.png">
      </a>
      <p class="lead">
         Cisco (NASDAQ: CSCO) is the worldwide leader in IT that helps companies seize the opportunities of tomorrow by
         proving that amazing things can happen when you connect the previously unconnected.  For ongoing news, please go
         to <a href="http://thenetwork.cisco.com">thenetwork.cisco.com</a>.
         <br />
         <br />
         <br />
         <br />
         <br />
      </p>
    </div>
    <div class="span4">
      <a href="http://kolabsys.com">
      <img class="sponsor-image" src="/images/sponsors/KolabSystems_badge.png">
      </a>
      <p class="lead">
           Part of a company group that excels in security and cross platform solutions, 
           Kolab Systems is the custodian of the Kolab Groupware Solution. Its wide range 
           of services include development, maintenance and support, which it provides as 
           a fully committed Open Source vendor and part of the Free Software community.
           For more information, please visit <a href="http://kolabsys.com">kolabsys.com</a>.
      </p>
    </div>
    <div class="span4">
      <a href="http://www.deltahacker.gr">
      <img class="sponsor-image" src="/images/sponsors/deltaHacker_badge.png">
      </a>
      <p class="lead">
        The deltaHacker is a magazine covering the topics of ethical hacking, networks, programming and security. It's like
        nothing you've ever seen, <em>not</em> only a traditional magazine - it has a rich inner world and each issue aspires
        to keep you awake for many nights.
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        </p>
    </div>
    <div class="span4">
      <a href="http://www.linux-magazin.de/">
      <img class="sponsor-image" src="/images/sponsors/LM_badge.png">
      </a>
      <p class="lead">
        Available in print and digital editions, Linux Magazin brings practical, hands-on solutions for real users who push the limits of Linux as a
        server, desktop, and development platform. Our unique combination of advanced coverage with a practical emphasis makes Linux Magazin a great
        benefit for readers who make decisions and recommendations.
        </p>
    </div>
    <div class="span4">
      <p class="sponsor-txt">
      You?
      </p>
      <p class="lead">
         Expose your brand to a wide variety of participants, enable oSC13 to be free of charge for all participants
         and support contributors with financial constraints to attend the event. Interested?
         Read our <a href="/files/oSC13_Sponsorship_Brochure.pdf">sponsorship brochure</a> to find out about your options.
      </p>
    </div>
  </div>
  <p class="pull-right"><a href="#"><i class="icon-arrow-up"></i>Back to top</a></p>
</div>
